.header {
    background-image: url(../img/home_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 634px;
}
@include media-breakpoint-up(md){
    .header{
        background:url(../img/home.png) no-repeat center;
        height: 810px;
        background-size: cover;
    }
}

.header-text {
    color: rgba(69, 75, 43, 0.561);
    font-size: 50px;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    text-shadow: 
    -1px -1px 0 #ffff,
    1px -1px 0 #ffff,
    -1px 1px 0 #ffff,
    1px 1px 0 #ffff;
}
.text-kalam {
    font-family: "Kalam", cursive;
}
